---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(10) %}
<h1>Die letzten {% if maxPosts == 1 %}Notiz{% else %}{{ maxPosts }} Notizen{% endif %}</h1>

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Vollständige Liste im <a href="{{ '/posts/' | url }}">Archiv</a>.</p>

<div class="max-w-sm p-3 m-4 rounded-lg shadow-lg">Testing tailwind</div>
<div class="container">
<span class="text-red-500">
- useTailwind {{ useTailwind }} or {{ metadata.useTailwind }}
</span>
</div>
